body
{
    background-color: brown;
}

a
{
    background-color: gray;
    color: white;
    padding: 10px;
    display: block;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;

}

a:hover
{
    background-color: green;
    color: white;
    margin-left: 50px;
}

#pifagor td
{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 5px;
}

#pifagor .first
{
    background-color: yellow;
    color: black;
}